{% extends 'events/base.html' %}


{% block body %}

    {% load staticfiles %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{% static 'events/input.js' %}"></script>
    <!------ Include the above in your HEAD tag ---------->


<div class="container">
		<div class="col-md-4">
			<form role="form" method="POST" action="{% url 'events:bet' match.id %}">
                {% csrf_token %}
                <span style="font-size: 40px;">{{ match.match_title }}</span><br />
                <span style="font-size: 35px;">Place a bet</span><br />

                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label class="bet_input" for="moneyBet">$</label>
                <div class="input-group number-spinner">

                        <span class="input-group-btn data-dwn">
                            <button
                                    type="button"
                                    class="btn btn-default btn-info"
                                    data-dir="dwn">
                                <span class="glyphicon glyphicon-minus">

                                </span>
                            </button>
                        </span>

                        <input
                                type="number"
                                class="form-control text-center"
                                name = "moneyBet"
                                id="moneyBet"
                                value="0.00"
                                step="0.01"
                                min="0.01"
                                required
                        />

                        <span class="input-group-btn data-up">
                            <button
                                    type="button"
                                    class="btn btn-default btn-info"
                                    data-dir="up">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>

                </div>


                <br /><br />
                {% for bet in match.bet_set.all %}
                    <div class="form-check">
                        <label class="bet_input" for="typeBet{{ bet.id }}">
                            <input
                                    type="radio"
                                    name="typeBet"
                                    id="typeBet{{ bet.id }}"
                                    value="{{ bet.id }}"
                            >
                            <span class="label-text">{{ bet.bet_type }} - {{ bet.factor }}</span>
                        </label>



                    </div>
                {% endfor %}

                <br />
                <input type="submit" class="btn btn-info" value="Bet" />
			</form>
		</div>
</div>

{% endblock %}