{% extends 'events/base.html' %}


{% block body %}

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% if all_matches3 %}
    <h1 align="center">All matches of {{ team }}</h1><br>
    {% else %}
    <h1 align="center">{{ team }} has no matches today!</h1><br>
    {% endif %}
        <div class="span25">
            <ul class="thumbnails">
            {% for match in all_matches3 %}
                <li class="span5 clearfix">
                    <div class="thumbnail clearfix">
                    <img src="{{ match.first_team_logo }}" align="left" style='height:100px; width:100px; margin: 15px;' alt="First team Logo">
                    <img src="{{ match.second_team_logo }}" align="right" style='height:100px; width:100px; margin: 15px;' alt="Second team Logo">

                        <div class="caption"><br>



                            <p align="center">
                                <a href="/events/{{ match.id }}/">{{ match.match_title }}</a><br><br>
                                <a href="/events/{{ match.id }}/" class="btn btn-info">Bet</a>
                            </p>


                        </div>


                    </div>
                </li>
            {% endfor %}

            </ul>
        </div>

{% endblock %}