{% extends 'events/base.html' %}
{% load i18n %}

{% block body %}
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    </head>
    <h1><p align="center">All teams:</p></h1>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">{% blocktrans %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>{% endblocktrans %}

    <div class="container">
        <div class="row">
            <div class='list-group gallery'>
                {% for team in all_teams %}
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3' style="width:230px; height: 200px;">
                    <a class="thumbnail fancybox" rel="ligthbox" href="{% url 'events:team_events' team.id %}" style="width: 170px; height: 165px;">
                        <img class="img-responsive" alt="" src="{{ team.team_logo.url }}" width="100" height="100"/>
                        <div class='text-right' style="position:absolute; bottom:40px; text-align: right; width:155px;">
                            <small class='text-muted'>{{ team.team_name }}</small>
                        </div> <!-- text-right / end -->
                    </a>
                </div> <!-- col-6 / end -->
                {% endfor %}
            </div> <!-- list-group / end -->
        </div> <!-- row / end -->
    </div> <!-- container / end -->


{% endblock %}